$color: #f00;

* {
  box-sizing: border-box;
}

h1 {
  color: $color;
  text-align: center;
}

#gameBoard {
  width: 40vw;
  height: 40vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  .cell {
    width: 10%;
    height: 10%;
  }

  .ship{
    background-image: url(../assets/images/player.png);
    background-position: center;
    background-size: contain;
  }

  .shot{
    background: linear-gradient(
      to right,
      transparent 0%,
      transparent calc(50% - 1.1px),
      #f00 calc(50% - 1px),
      #f00 calc(50% + 1px),
      transparent calc(50% + 1.1px),
      transparent 100%
    ); 
  }
}
