$red: #f00;
$green: #0f0;
@mixin shotStyle($color){
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent calc(50% - 1.1px),
    $color calc(50% - 1px),
    $color calc(50% + 1px),
    transparent calc(50% + 1.1px),
    transparent 100%
  );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.9);
  display: block;
}

#gameBoard {
  width: 60vw;
  height: 80vh;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;

  .cell {
    width: 10%;
    height: 10%;
  }

  .ship,
  .alien {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .ship{
    background-image: url(../assets/images/player.png);
  }

  .alien{
    background-image: url(../assets/images/alien.png);
    transform: scaleY(-1);
  }

  .shot{
    @include shotStyle($red)
  }

  .alienShot{
    @include shotStyle($green)
  }

}
