$color: #f00;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  color: $color;
  text-align: center;
}

#gameBoard {
  width: 60vw;
  height: 80vh;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;

  .cell {
    width: 10%;
    height: 10%;
  }

  .ship,
  .alien {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .ship{
    background-image: url(../assets/images/player.png);
  }

  .alien{
    background-image: url(../assets/images/alien.png);
    transform: scaleY(-1);
  }

  .shot{
    background: linear-gradient(
      to right,
      transparent 0%,
      transparent calc(50% - 1.1px),
      #f00 calc(50% - 1px),
      #f00 calc(50% + 1px),
      transparent calc(50% + 1.1px),
      transparent 100%
    );
  }

}
